.idea
venv
Exploração de Dados/circl-cve-search-expanded.json
Exploração de Dados/dataset.zip
dados analise, n subir git
__pycache__
Trabalho_Final/dataset/*.json
Trabalho_Final/dataset/*.csv
Exploração de Dados/dataset/*.json
Exploração de Dados/dataset/*.csv